@model IList<BillBoard.Models.ContactForm>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LPage1.cshtml";
}
<section>
    <div class="bg-image row align-items-center">
        <div class=" col" style="padding:80px">
            <h1 class="text-uppercase cover-text">Build Your Brand Image With Us</h1><br />
            <a class="btn btn-secondary btn-lg bg-clr-pink">Our Services</a>
        </div>
        <div class="col">

        </div>

    </div>
</section>
<section class="container body-content" style="margin-bottom: 15px; margin-top: 15px;">
    <div class="row align-items-center bot-boder" style="padding: 80px">
        <div class="col">
            <h3 class="h28px">WE CREATE MASS PUBLIC'S EYE ATTENTION</h3>
            <a class="clr-pink h18px" href="/Home/AboutUs">WHO WE ARE</a>
        </div>
        <div class="col">
            <p>We are a value-driven organization. Our core values inspire us to push our boundaries and set benchmarks for others push our boundaries.</p>
            <div class="row">
                <div class="col">
                    <p class="clr-pink" style="font-weight:bolder;font-size:36px">250<span>+</span></p>
                    <p class="clr-black">Screens Places</p>
                </div>
                <div class="col">
                    <p class="clr-pink" style="font-weight:bolder;font-size:36px">78<span>k</span></p>
                    <p class="clr-black">People Reached</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container body-content" style="margin-bottom: 15px; margin-top: 15px;">
    <div class="row align-items-center" style="padding: 80px;">
        <div class="s1bg-image col d-center">
            <h3 class="cover-text">EXPERT OUT OF MEDIA AGENCY</h3>
        </div>
        <div class="col s1bg-image2" style="padding:50px">
            <p class="p24px clr-white">Providing expert assistance with billboard advertising for 25 years. quickly present you</p>
            <div class="progress" style="margin:20px">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    90% Strategy
                </div>
            </div>
            <div class="progress" style="margin:20px">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    70% Perfomance
                </div>
            </div>
            <div class="progress" style="margin:20px">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                    80% Planing
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container body-content" style="margin-bottom: 15px; margin-top: 15px;">
    <div class="row justify-content-center align-content-center align-items-center" style="padding:10px">
        <div class="col align-content-center justify-content-center align-items-center">
            <p class="p24px clr-black">WHAT WE DO</p>
            <h3 class="clr-pink">OUR SERVICES<span>.</span></h3>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Image/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Metro ADs</h5>
                            <p class="card-text">
                                Metro billboard advertising has grown as technology to reach market.
                            </p>
                            <a href="#" class="btn btn-primary bg-clr-pink">Book NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Image/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> HOARDING</h5>
                            <p class="card-text">Hoarding billboard advertising has grown as technology to reach market.</p>
                            <a href="#" class="btn btn-primary bg-clr-pink">Book NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Image/3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MOBILE BILLBOARD</h5>
                            <p class="card-text">Mobile billboard advertising has grown as technology to reach market.</p>
                            <a href="#" class="btn btn-primary bg-clr-pink">Book NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="container body-content" style="margin-bottom: 15px; margin-top: 15px;">
    <div class="row" style="padding:50px">
        <div class="col">
            <h5 class="h28px clr-pink">Outdoor advertising is continuously changing with the modern world</h5>
            <p>Through our service you have access to the ENTIRE billboard inventory available in the areas you are looking to advertise in.</p>
            <ul>
                <p><i class="fa-solid fa-check clr-pink" style="margin-right:10px"></i>Best available billboard locations in the areas</p>
                <p><i class="fa-solid fa-check clr-pink" style="margin-right:10px"></i>Simplify your billboard advertising</p>
                <p><i class="fa-solid fa-check clr-pink" style="margin-right:10px"></i>Find the right billboard advertising locations</p>
            </ul>
        </div>
        <div class="col s2bg-image">
        </div>
    </div>
</section>
<section class="container body-content s3bg-image text-center" style="margin-bottom: 15px; margin-top: 15px;">
    <div class="row align-items-center" style="padding:80px">
        <div class="col">

        </div>
        <div class="col-6">
            <h3 class="h28px clr-white">HAVE ANY CONFUSTION?</h3>
            <h5 class="h18px clr-white">
                Contact us to see how we can get you noticed
            </h5>
            <a href="#" class="btn btn-primary bg-clr-pink">CONTACT US</a>
        </div>
        <div class="col">
        </div>
    </div>
</section>

