
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LPage1.cshtml";
}

<section class="container body-content" style="margin-bottom: 15px; margin-top: 15px;">
    <div class="row justify-content-center align-content-center align-items-center" style="padding:10px">
        <div class="col align-content-center justify-content-center align-items-center">
            <p class="p24px clr-black">WHAT WE DO</p>
            <h3 class="clr-pink">OUR SERVICES<span>.</span></h3>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Image/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Metro ADs</h5>
                            <p class="card-text">
                                Metro billboard advertising has grown as technology to reach market.
                            </p>
                            <a href="#" class="btn btn-primary bg-clr-pink">Book NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Image/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> HOARDING</h5>
                            <p class="card-text">Hoarding billboard advertising has grown as technology to reach market.</p>
                            <a href="#" class="btn btn-primary bg-clr-pink">Book NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Image/3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MOBILE BILLBOARD</h5>
                            <p class="card-text">Mobile billboard advertising has grown as technology to reach market.</p>
                            <a href="#" class="btn btn-primary bg-clr-pink">Book NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="container body-content s3bg-image text-center" style="margin-bottom: 15px; margin-top: 15px;">
    <div class="row align-items-center" style="padding:80px">
        <div class="col">

        </div>
        <div class="col-6">
            <h3 class="h28px clr-white">HAVE ANY CONFUSTION?</h3>
            <h5 class="h18px clr-white">
                Contact us to see how we can get you noticed
            </h5>
            <a href="#" class="btn btn-primary bg-clr-pink">CONTACT US</a>
        </div>
        <div class="col">
        </div>
    </div>
</section>

